@using LifeManager.Data
@model List<Todo>
@{
    ViewData["Title"] = "To do list";
}
<h2>@ViewData["Title"]</h2>
<div>
    <br />
    <table class="table">
        <tr>
            <th>№</th>
            <th>Name</th>
            <th>Deadline</th>
            <th>Difficulty</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @{int i = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@(++i)</td>
                <td>@item.Name</td>
                <td>@item.Deadline</td>
                <td>@item.Difficulty</td>
                <td></td>
                <td>@Html.ActionLink("Edit", "edit", "todo", new { id = item.Id })</td>
                <td>@Html.ActionLink("Delete", "delete", "todo", new { id = item.Id})</td>
            </tr>
        }
    </table>
    <div align="left" style="margin-left: 0.5em">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTodo">
            Add new goal
        </button>
    </div>
</div>

<!--MODAL-->
<div class="modal fade" id="addTodo" tabindex="-1" role="dialog" aria-labelledby="addTodoLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLabel">New todo</h4>

            </div>
            <div class="modal-body">
                <form method="post" asp-action="create" asp-controller="todo">
                    <div class="form-group">
                        <label style="margin-left:0.3em" for="name" class="col-form-label">Name: </label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="form-group">
                        <label style="margin-left:0.3em" for="deadline" class="col-form-label">Deadline: </label>
                        <input type="text" class="form-control" id="deadline" name="deadline">
                    </div>
                    <div class="form-group">
                        <label style="margin-left:0.3em" for="difficulty" class="col-form-label">Difficulty: </label>
                        <input type="text" class="form-control" id="difficulty" name="difficulty">
                    </div>
                    <input type="submit" class="btn btn-primary"/>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
